body{

background-color: #f8f8f8;
}

/* .content_first_row{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 0.3fr);
} */

.content_second_row{
  display: grid;
  grid-template-columns: minmax(0, 0.9fr) minmax(0, 1fr) minmax(0, 0.5fr);
}

.content_third_row {
    display: grid;
    /* grid-template-columns: 30rem 62rem 30rem 61.5rem; */
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 2fr);
    /* grid-template-rows: repeat(2, 200px); */
    /* padding-right: 0.5%; */
    grid-gap: 10px;
    /* margin-left: 15%;
    padding-top: 6.2%;  */
    /* overflow: hidden; */
    /* margin-left: 10%; */
  }

