body{

background-color: #f8f8f8;
}

.tab-1-boxplot-row{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.content_first_row{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 0.27fr);
  width: 100.3%;
}

.content_second_row{
  display: grid;
  grid-template-columns: minmax(0, 0.9fr) minmax(0, 1fr) minmax(0, 0.5fr);
  
}

.content_third_row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0, 2fr);
    grid-gap: 10px;

  }

